:root {
  --bg: #0a0a0a;
  --off-white: #f5f5f5;
  --soft-blue: #5468e7;
  --dark-blue: #232340;
  --light-orange: #FFBA79;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Lexend Deca", sans-serif;
  
  background-color: var(--off-white);
}

.row,
.row > * {
  padding: 0rem !important;
  margin: 0rem !important;
}

.container-fluid {
  margin: 0rem 8.75rem !important;
  padding: 0rem !important;
}

/* start navbar */
.mynavbar {
  margin-top: 2.5rem !important;
  padding: 0rem !important;
}
.mynavbar .navbar-nav {
  left: 50%;
}

.mynavbar a {
  color: var(--off-white);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
  padding: 0rem !important;
}

.navbar-brand {
  color: var(--off-white);
  text-decoration: none !important;
  font-size: 3.125rem;
  margin-top: 0rem !important;
}

.mynavbar .brand-dot {
  color: var(--soft-blue);
}

.mynavbar .nav-link {
  margin-right: 3.5rem !important ;
}

.nav-link:last-child {
  text-decoration: none !important;
  background-color: rgba(84, 104, 231, 0.5);
  border-radius: 4px;
  font-size: 1.125rem;
  width: 11.5rem;
  margin-right: 0 !important;
  padding: 0.625rem 2.75rem !important;
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
}
/* end navbar */

/* start hero */
.hero::before {
  content: "";
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../src/img/hero_img.webp);
  background-size: cover;
  background-position: right;
  z-index: -1;
}

.hero {
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  min-height: 100vh;
  margin-top: -7.3rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  color: var(--off-white);
  padding: 0 500px;
}

.hero h1,
.hero p {
  text-shadow: var(--shadow);
  width: 100%;
  /* padding: 0rem; */
}

.hero h1 {
  font-size: 3.125rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.email-input-container {
  margin-top: 3.5rem;
}

.email-input {
  width: 18.625rem !important;
}

.email-input-container .btn-input {
  text-decoration: none !important;
  background-color: rgba(84, 104, 231, 0.5);
  border-radius: 4px;
  font-size: 1.125rem;
  color: var(--off-white);
  margin-right: 1.4rem;
  padding: 0.625rem 2.75rem;
}
/* end hero */

/* start article */
article {
  min-height: 100vh;
}

.img-container {
  margin: 0rem !important;
  min-width: 565px;
  min-height: 565px;
  position: relative;
}

.text-content {
  max-width: 28.5rem;
}

.text-content h1 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 4rem;
}

.text-content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.688rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.text-content a {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.688rem;
}

/* article 1 */
.img-article-1-task-today {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  z-index: 1;
}

.img-article-1-dashboard {
  position: absolute;
  top: 0rem;
  left: 6.8rem;
  z-index: 2;
}

.img-article-1-mentors {
  position: absolute;
  top: 19.5rem;
  left: -1.5rem;
  z-index: 3;
}

.img-article-1-send {
  position: absolute;
  top: 18.5rem;
  left: 15.5rem;
  z-index: 4;
}

/* article 2 */
.img-article-2-calendar {
  position: absolute;
  top: 1.5rem;
  left: 18rem;
  z-index: 1;
}

/* article 3 */
.img-article-3-top {
  position: absolute;
  top: 16.5rem;
  left: 22rem;
  z-index: 1;
}

.img-article-3-bot {
  position: absolute;
  top: 22.5rem;
  left: 22rem;
  z-index: 1;
}

/* article 4 */
.img-article-4-top {
  position: absolute;
  top: 16.5rem;
  left: 1.8rem;
  z-index: 1;
}

.img-article-4-bot {
  position: absolute;
  top: 29rem;
  left: 1.8rem;
  z-index: 1;
}
/* end article */

/* start card-carousel */
.carousel-title{
    margin-bottom: 8rem;
    font-size: 3.125rem;
    font-weight: 700;
    line-height:4rem;
}

.card-carousel{
    min-height: 100vh;
}
.carousel-inner{
    min-height: 30rem;
}
.carousel-item{
    display: flex !important;
}
.card{
    margin-right: 2rem;
}
.card-body{
    margin: 1rem 1rem;
}
.card-star{
    color: var(--light-orange);
    margin-bottom: 2rem;
}

.card-text{
    /* color: var(--light-orange); */
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.688rem;
}

.card-avatar-container img{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
}

.card-avatar-container{
    display: flex;
}

/* end card-carousel */


/* start footer */
.footer{
    min-height: 31.25rem;
    background-color: var(--dark-blue);
    color: var(--off-white);
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: start; 
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 4rem;
}

.footer-brand p{
    font-size: .875rem;
}

.footer-brand a{
  color: var(--off-white);
  text-decoration: none;
  font-size: 3.125rem;
  font-weight: 600;
}

.footer .brand-dot {
  color: var(--soft-blue);
}

.footer-features{
    display: grid;
    grid-template-columns: 20% 20% 20% auto ;
    margin: 2rem 0rem 0rem 2rem;
}

.footer-features > div{
    margin-right: 2rem;
}

.footer-features > div:last-child{
    margin-right: 0rem;
}

.footer-features h3 {
    color: var(--soft-blue);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
}
.footer-email-input-container{
    color: #F5F5F5;
    width: 16rem;
}

.footer .copyright{
    margin-top: 10rem;
    font-size: .875;
    font-weight: 400;
    line-height: 1.438rem;
}
/* end footer */

/* Media Query */
/* Extra large */
@media (min-width: 1400px) {
  .mynavbar .nav-link {
    margin-right: 3.5rem;
  }

  .nav-link:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .mynavbar .nav-link {
    margin-right: 1.12rem;
  }

  .nav-link:last-child {
    margin-right: 0;
    width: 9rem;
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .mynavbar .nav-link {
    margin-right: 1.6rem;
  }

  .nav-link:last-child {
    margin-right: 0;
    width: 7rem;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .mynavbar .offcanvas {
    background-color: var(--off-white);
    color: var(--soft-blue);
  }

  .mynavbar a {
    color: var(--soft-blue);
  }

  .mynavbar .nav-link {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .nav-link:last-child {
    color: var(--off-white);
    background-color: rgba(84, 104, 231, 1);
    margin-bottom: 0rem;
  }

  .sticky-top {
    overflow: hidden;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
